{% for c in comments %}
<div class="comment-item mb-3" data-id="{{ c.id }}">

    <div class="border-bottom pb-2">
        <strong>
            {% if show_comment_avatar|default:True %}
            <img src="{{ c.user.userprofile.avatar_url }}" class="rounded-circle me-2" width="24" height="24">
            {% endif %}
            {{ c.user.username }}
        </strong>
        <small class="text-muted">{{ c.created_at|date:"d M Y H:i" }}</small>
        <div>{{ c.content|linebreaks }}</div>

        <div class="mt-1">
            {% if not project_is_closed and user_role == 'admin' or not project_is_closed and user == c.user %}
                <button class="btn btn-link p-0 small text-danger btn-delete-comment" data-id="{{ c.id }}">
                    Delete
                </button>
            {% endif %}

            {% if not project_is_closed and user_role == 'admin' or not project_is_closed and user in c.task.assignees.all %}
                <button class="btn btn-link p-0 small text-primary btn-reply-comment" data-id="{{ c.id }}">
                    Reply
                </button>
            {% endif %}
        </div>
    </div>

    <div class="reply-form mt-2 reply-form-hidden"></div>

    {% if c.replies.all %}
        <div class="ms-4 mt-3">
            {% include "arva/_comment_list.html" with comments=c.replies.all show_comment_avatar=show_comment_avatar %}
        </div>
    {% endif %}

</div>
{% empty %}
<small class="text-muted">There are no comments yet.</small>
{% endfor %}
