DEBUG=True
SECRET_KEY=django-insecure-p8l*4rr6c^x-d&hr4j%-p3p2*3db&wz5r5c(4ays%7pnn7bw7+
ALLOWED_HOSTS=localhost,127.0.0.1,task.arviga.co.id,www.task.arviga.co.id
DB_ENGINE=django.db.backends.mysql
DB_NAME=arviga_db
DB_USER=root
DB_PASSWORD=Arviga123!
DB_HOST=127.0.0.1
DB_PORT=3306
GOOGLE_OAUTH_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_OAUTH_SECRET=your-google-client-secret
EMAIL_HOST=mail.arviga.co.id
EMAIL_HOST_USER=sales@arviga.co.id
EMAIL_HOST_PASSWORD=ArvigaN3t!!!
EMAIL_PORT=587
EMAIL_USE_TLS=True
GEMINI_API_KEY=AIzaSyC0QJ7LaoYqCawIFr9QYCV6ZN1ZYr9Q5-Q
CSRF_TRUSTED_ORIGINS=https://task.arviga.co.id,https://www.task.arviga.co.id,https://*.ngrok-free.dev,https://*.ngrok.io
USE_RAG=True